<h2>About TwitrDoo!</h2>
<table>
    <tr>
	<td class='floatleft'>
		TwitrDoo is a simple web-based 'To-Do list'. It's super easy to use... <%= link_to 'Login via Twitter', '/login' %> or just follow @TwitrDoo to automatically create your account.
		
		<p>You can manage your 'To-Do List' here, or direct message your tasks to @TwitrDoo on Twitter, from your IM application, or even your mobile phone!</p>
		<div id='block'><p>Send a direct messages on your Mobile Phone, IM, or Twitter Account by typing: <strong>d TwitrDoo Pick up the kids at school.</strong></p></div>

		</td>
    <td class='floatright'>
		<a href="http://www.backpackIT.com/?referrer=IANWINSCOM"><img alt="Backpack" border="0" height="250" src="https://affiliate.37signals.com/images/products/backpack/banner-300x250.png" width="300" /></a>
		</td>
		</tr>
</table>