<h2>Welcome to TwitrDoo!</h2>

<p>TwitrDoo is a simple web-based 'To-Do' list! It's super easy to use... just click on <strong>Login via Twitter</strong> above and log in with your Twitter account. Create your list, then hit complete when you finished your task. It's that simple.</p>

<p>So, <%= link_to "Get Started", "http://twitrdoo.com/todos" %> already!</p>

<% if @users.any? %>
  <h2>Recently Joined</h2>
  <% for user in @users %>
    <%= link_to profile_image(user), twitter_profile_url(user), :target => "_blank" %>


  <% end %>

<% end%>

